.button {
  width: 150px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: url('../public/assets/icons/sprite.svg');
    width: 100px;
    height: 100px;
    z-index: 4;
  }
}

.icon_back {
  fill: indianred;
  margin-left: 5px;
}

.friend {
  display: flex;
  align-items: center;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.img {
  width: 150px;
  height: 225px;
  background-color: #b1b1b1;
}

.name {
  font-weight: 700;
}
